<mat-toolbar color="primary">
	<a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
	<a mat-button routerLink="/about"><span class="fa fa-info fa-lg"></span> About</a>
	<a mat-button routerLink="/products"><span class="fa fa-list fa-lg"></span> Products</a>
	<a mat-button routerLink="/contact"><span class="fa fa-address-card fa-lg"></span> Contact</a>

</mat-toolbar>

<div class="container jumbotron"
	fxLayout="row"
	fxLayout.sm="column"
	fxLayout.xs="column"
	fxLayoutAlign.xs="start center"
	fxLayoutAlign.sm="start center"
	fxLayoutAlign.gt-sm="center center"
	fxLayoutGap="10px">

	<div fxFlex fxFlex.gt-sm="50%">
		<h1>Doctors Office</h1>
		<p>We make people feel good again. We make people see again. We make people feel like they can accomplish things again. Its not about us, but we certainly feel good doing it!</p>

	</div>
	<div fxFlex></div>
</div>