mat-card {
	max-width: 500px;
}
mat-card-actions {
	float: right;
	display: inline-flex;
}
.mat-card-image {
	border-radius: 5%;
	max-height: 250px;
	max-width: 100px;
	display: inline-flex;
	float: left;
	margin-left: 25px;
}

.mat-line {
	display: inline-flex;
}

h1 {
	display: inline-flex;
	position: relative;
}