<div fxFlex>
	<div>
		<form [formGroup]="form" (ngSubmit)="onSubmit(data)">
			<mat-form-field >
				<input matInput formControlName="firstname" matInput placeholder="First Name">
			</mat-form-field><br>
			<mat-form-field>
				<input matInput formControlName="lastname" placeholder="Last Name">
			</mat-form-field><br>
			<mat-form-field>
				<mat-select matInput formControlName="carrier" placeholder="Insurance Carrier">
					<mat-option value="Blue Cross Blue Shield">Blue Cross Blue Shield</mat-option>
					<mat-option value="Premera">Premera</mat-option>
					<mat-option value="Aetna">Aetna</mat-option>
					<mat-option value="Humana">Humana</mat-option>
				</mat-select>
			</mat-form-field><br>
			<mat-form-field>
				<textarea matInput formControlName="area" matInput placeholder="What seems to be the problem?"></textarea>
			</mat-form-field><br>
			<button mat-button type="submit">Submit</button>
	</form>
	</div>
	<div class="output">
		<p>{{form}}</p>
	</div>
</div>