<div class="container" fxLayout="column" fxLayoutGap="10px">

	<div fxFlex>
		<div>
			<h3>Home</h3>
			<hr>
		</div>
	</div>

	<div fxFlex>
		<mat-grid-list cols="2" rowHeight="200px">
		<mat-grid-tile *ngFor="let doctor of doctors" (click)="onSelect(doctor)">
		
			<img height="200px" src="{{ doctor.pic }}" alt="{{ doctor.name }}">
			
			<mat-grid-tile-footer>
				<h1 mat-line>{{ doctor.name | uppercase }}</h1>
			</mat-grid-tile-footer>
		</mat-grid-tile>
		</mat-grid-list>
	</div>


	<app-doctordetail [doctor]="selectedDoctor"></app-doctordetail>


</div>